@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 *{
    margin: 0;
    padding: 0;
    font-family: "Inter", "sans-serif";
}

#navigasi {
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}



.user{
    /* background-color: #717171; */
    width: 40px;
    height: 40px;
    position: relative;
    /* border-radius: 50px; */
}

.user span{
    color: white;
    background-color: red;
    position: absolute;
    right: -2px;
    top: -7px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50px;

}

.user img{
    width: 40px;
}

.container-navigasi{
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    /* font-family: "Inter", sans-serif; */
    justify-content: space-between;
    height: 100px;
    align-items: center;
     /* background-color: antiquewhite; */ 
     /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */ 
}

.logo-header {
     /* background-color: rgb(22, 159, 245);   */
    display: flex;
    font-size: 40px;
    font-weight: 700;
    align-items: center;
}

.logo-header img{
    margin-right: 1px;
}

.list-navigasi{
      /* background-color: rgb(246, 113, 248);   */
    display: flex;
    align-items: center;
}

.list-navigasi li{
    position: relative;
    list-style: none;
    margin-left: 15px;
    margin-right: 30px;
}   

.dropdown-menu{
    display: none;
    position: absolute;
    list-style: none;
    top: 100%;
    background-color: rgb(255, 255, 255);
}

.dropdown-menu a{
    background-color: #eeeeee;
    font-weight: 400;
    color: black;
    width: 150px;
    display: block;
    margin: 8px 12px;
    text-decoration: none;
    padding: 12px 0;
    text-align: center;
}

.dropdown-menu a:hover{
    background-color: #FAA613;
}

.dropdown:hover .dropdown-menu{
    display: block;

}

#banner{
    background-color: #F5F7FA;
}

.container-banner{
    /* background-color: aquamarine; */
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
}

.container-banner img{
    /* background-color: black; */
    width: 500px;
}

.belajar h1{
    color: #4D4D4D;
    font-size: 60px;
    margin-bottom: 15px;
}

.belajar p{
    color: #717171;
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.belajar .text-abu-dzar{
    color: #FAA613;
    margin-bottom: 15px;
}

.button-register{
    background-color: #FAA613 ;
    border: none;
    color: white;
    font-size: 30px;
    padding: 20px 40px;
    border-radius: 10px;    
}

.spesifik-button{
    background-color: #FAA613 ;
    border: none;
    color: white;
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 10px;
}

.button-register:hover{
    background-color: rgb(18, 84, 189);
   }


.klien-kami{
    display: flex;
    justify-content: center;
    align-items: center;
}

.neka{
    font-size: 25px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

}


.neki img{
    width: 70px;
    /* background-color: aqua; */
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 30px;

}

.Komunitas{
    margin-top: 100px;
}

.container-komunitas {
    margin-left: 300px;
    /* background-color: aqua; */
    margin-right: 300px;
}

.Text{
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.teras{
    display: flex;
    justify-content: space-between;

}

.p1{
    text-align: center;
    width: 250px;
    h2{
        font-size: 30px;
        padding: 10px;
    }
    /* background-color: aqua; */
    img{
        width: 80px;
    }
}

.p2{
    text-align: center;
    width: 250px;
    h2{
        font-size: 30px;
        padding: 10px;
    }
  /* background-color: aqua; */
    img{
        width: 80px;
    }
}

.p3{
    text-align: center;
    width: 250px;
    h2{
        font-size: 30px;
        padding: 10px;
    }

   /* background-color: aqua; */
    img{
        width: 80px;
    }
}

#bando{
    /* background-color: #F5F7FA; */
    margin-top: 100px;
  
}

.ban-1{
    margin-left: 230px;
    /* background-color: aqua; */
    margin-right: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 65px;
}

.ban-1 img{
    /* background-color: black; */
    width: 400px;
}

.Text-6{
    color: #4D4D4D;
    font-size: 20px;
    margin-bottom: px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 200px  ;
}

.Text-6 h1{
    font-size: 40px;
}

.Text-6 p{
    margin-top: 20px;
    color: #717171;
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.Learn-More{
    margin-top: 20px;
    background-color: #FAA613 ;
    border: none;
    color: white;
    font-size: 15px;
    padding: 20px 40px;
    border-radius: 10px;    
}



#bantu{
    background-color: #F5F7FA;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.kebantuan{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 65px;
}

.Text-gede{
    text-align: left;
    margin-right: 200px;
}


.Text-gede h1{
    color: #4D4D4D;
    font-size: 45px;
    margin-bottom: 5px;
    
}

.Text-gede h2{
    font-size: 45px ;
    color: #FAA613;
    margin-bottom: 15px;
}

.Text-gede P{
    color: #717171;
    font-size: 20px;
    margin-bottom: 15px;
}

.mc{
    /* background-color: aqua; */
    display: flex;
    img{
        width: 70px;
        margin-right: 20px;
        margin-bottom: 30px;
    }
}

.column-1{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    padding-right: 200px;
    padding-left: 100px;
    padding-bottom: 10px;
}

.isi-column-1{
    display: flex;
    justify-content: center;
    .satu{
    
        h3{
            font-size: 30px;
            margin-bottom: 4px;
        }

        p{
            font-size: 20px;
            margin-top: 10px;
        }
    }

    
}

.kedua{
 
    h3{
        font-size: 30px;
        margin-bottom: 4px;
    }

    p{
        font-size: 20px;
        margin-top: 10px;
    }

}

.isi-column-2{
    display: flex;
}


.column-2{
    /* background-color: rgb(0, 252, 168); */
    display: flex;
    flex-direction: column;
    padding-right: 200px;
}

.column-satu{
    display: flex;
    justify-content: center;
    margin-right: 40px;

    h3{
        font-size: 30px;
        margin-bottom: 4px;
    }

    p{
        font-size: 20px;
        margin-top: 10px;
    }

}

.column-dua{
    display: flex;
    justify-content: center;

    h3{
        font-size: 30px;
        margin-bottom: 4px;
    }

    p{
        font-size: 20px;
        margin-top: 10px;
    }

}



.icon-menu{
    display: none;
}


#rilum{
    /* background-color: #F5F7FA; */
    margin-top: 100px;
  
}

.ril-1{
    margin-left: 230px;
    /* background-color: aqua; */
    margin-right: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 65px;
}

.ril-1 img{
    /* background-color: black; */
    width: 400px;
}

.Text-enam{
    color: #4D4D4D;
    font-size: 20px;
    margin-bottom: px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 200px  ;
}

.Text-enam h1{
    font-size: 40px;
}

.Text-enam p{
    margin-top: 20px;
    color: #717171;
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.Learn-More{
    margin-top: 20px;
    background-color: #FAA613 ;
    border: none;
    color: white;
    font-size: 15px;
    padding: 20px 40px;
    border-radius: 10px;    
}

#TH{
    background-color: #F5F7FA;
    margin-bottom: 100px;

}

.container-TH{
    display: flex;
    justify-content: center;
}



.gmbr{
    margin: 100px;
}

.gmbr img{
    width: 500px;
}

.tandi{
    display: block;
    align-self: center;
    /* background-color: aquamarine; */

    p{
        margin-bottom: 20px;
        color: #4D4D4D;
    }

    h4{
        font-family: 'Inter';
        font-size: 20px;
        margin-bottom: 15px;
        color: #FAA613;

    }
    .prol{
        margin-bottom: 40px;
        color: #717171;
    }

    span{
        color: #FAA613;
        font-weight: 700;
        margin-bottom: 5px;
        
        
    }
    
}

.ia{
    display: flex;
    align-items: center;
    img{
        width: 600px;
        margin-right: 30px;
    }
}

.text-baru{
    text-align: center;

    h1{
        font-size: 40px;
        margin-bottom: 15px;
        font-family: 'Inter';
    }

    p{
        word-spacing: 3px;
        line-height: 25px;
        color: #717171;
    }
}

.HV{
    display: flex;
    justify-content: center;
}

.blk{
    margin: 20px;
    position: relative;
    width: 400px;
    background-color: aqua;
    img{
        width: 100%;
    }
}

.tx{
    display: block;
    align-content: center;
    border-radius: 20px;
    height: 150px;
    text-align: center;
    right: 45px;
    width: 300px;
    position: absolute;
    bottom: -70px;
    background-color: #F5F7FA;
    p{
        margin-bottom: 30px;
        color: #717171;
        font-weight: 600;
        font-size: 20px;
        font-family: 'Inter';
    }
    .dlw{
        color: #FAA613;
        margin-top: 10px;
    }
}



#height{
    height: 350vh;
}

@media only screen and (max-width:745px){
 .icon-menu{
    display: inline;
 }
 .list-navigasi{
    display: none;
 }
}